:root {
  --primary: #00acff;
  --primary-alt: #0099e6;
}

* {
  scroll-margin-top: 80px;
}

.text-gray {
  color: rgb(92, 101, 112);
}

.dark .text-gray {
  color: rgb(160, 174, 192);
}

.card {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.25rem;
  padding: 30px;
  max-width: 100%;
}

.dark .card {
  border: 1px solid rgb(26 32 44);
}

/* Fix for the footer */
.flex-col-reverse.justify-between > a.text-sm {
  align-self: flex-start;
}

.hide-light {
  display: none !important;
}

.dark .hide-dark {
  display: none !important;
}

.dark .hide-light {
  display: block !important;
}

h1 {
  margin-top: 40px !important;
}

main {
  width: 768px;
}

@media (max-width: 768px) {
  /* For "Edit this page on GitLab" */
  footer .text-sm {
    align-self: center !important;
  }
}

@media (max-width: 450px) {
  .mobile-hidden {
    display: none;
  }
}
